*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 80%;
  max-width: 960px;
  margin: auto;
  font-family: sans-serif;
}

button {
  margin: 0.8em;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #ff7f35;
  color: white;
  font-size: 0.9em;
}

.question {
  margin: 0.4em;
  padding: 0.4em;
}

.question-text {
  font-size: 1.4em;
}

.choice {
  padding: 0.8em;
  border-bottom: 1px solid #ddd;
}

.choice label {
  padding-left: 0.3em;
}
