*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  color: #333333;
}



main {
  max-width: 960px;
  min-width: 340px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}

h1 {
  text-align: center;
  color: white;
  text-shadow: 0px 1px 2px #333333;
}

h1.home-header {
  margin: 0 0 1em 0;
  padding: 0.75em;
  font-size: 3em;
}

h1.quiz-header {
  margin: 0;
  padding: 0.5em;
  font-size: 2em;
}

main {
  margin-top: 0;
}

button {
  width: 10em;
  height: 3em;
  margin: 0.8em;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: 0.9em;
  outline: none;
  color: #fff;
}

#stats-wrapper {
  width: 20em;
  margin: 20px auto;
}

#stats-list {
  list-style: none;
  text-align: center;
  margin-left: 0;
  padding-left: 0;
  line-height: 2em;
}

.overall-score {
  font-weight: bold;
  font-size: 1.2em;
}

#home-section, #finish {
  text-align: center;
}

#start-button {
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}

#start-button:active:hover {
  background-image: linear-gradient(to top, #0ba360 30%, #3cba92 100%);
}

#submit-answers {
  background-image: linear-gradient(to top, #ff5858 0%, #f09819 100%);
}

#submit-answers:active:hover {
  background-image: linear-gradient(to top, #ff5858 30%, #f09819 100%);
}

#quit-button, #clear-button {
  background-image: linear-gradient(to bottom, #868f96 0%, #596164 100%);
}

#quit-button:active:hover, #clear-button:active:hover{
  background-image: linear-gradient(to bottom, #868f96 3%, #596164 100%);
}

#questions > div {
  margin-top: 20px;
}

.hidden {
  display: none;
}

.question {
  margin: 0.4em;
  padding: 0.5em;
  border-bottom: 1px solid #ddd;
}

.question:last-of-type {
  border-bottom: none;
  margin-bottom: 2em;
}

.question-text {
  font-size: 1.4em;
}

.choice {
  padding: 0.5em;
}

.choice label {
  padding-left: 0.3em;
}

.userText {
  padding: 0.8em;
}

.userText input {
  width: 100%;
  outline: none;
  height: 2em;
  padding: 0.4em;
  border-radius: 4px;
  border: solid 1px #dcdcdc;
  margin-bottom: 5px;
}

#settings {
  margin: 10px;
}

.config-label {
  display: block;
  margin: 10px;
}

.config-input {
  width: 50px;
  border-radius: 4px;
  height: 2em;
  border: solid 1px #dcdcdc;
  padding: 5px;
  outline: none;
}

#timer-wrapper {
  color: #333333;
  font-size: 2em;
  top: 0;
  padding: 10px;
  position: sticky;
  position: -webkit-sticky;
  text-align: center;
  background-color: #ffffff;
  border-bottom: 1px solid #dcdcdc;
  box-shadow: 0px 5px 7px -9px #000000;
}

.timer-warning {
  color: #ff5858;
}
