*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  max-width: 960px;
  min-width: 340px;
  margin: auto;
  font-family: sans-serif;
}

main {
  margin-top: 1.5em;
}

button {
  width: 10em;
  height: 3em;
  margin: 0.8em;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-image: linear-gradient(00deg, #ff5858 60%, #f09819 100%);
  font-size: 0.9em;
  outline: none;
  color: #fff;
}

#stats-wrapper {
  overflow-y: hidden;
  max-height: 200px;
  width: 12em;
  margin: auto;
}

#stats-wrapper:hover {
  overflow-y: auto;
}

#stats-list {
  list-style: none;
  text-align: center;
  margin-left: 0;
  padding-left: 0;
  line-height: 2em;
}

#stats, #start, #finish {
  text-align: center;
}

#startButton {
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}

#startButton:active:hover {
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}

#checkAnswers {
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}

#checkAnswers:active:hover {
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}

#quitButton {
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
}

#quitButton:active:hover{
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
}

.hidden {
  display: none;
}

.question {
  margin: 0.4em;
  padding: 0.4em;
}

.question-text {
  font-size: 1.4em;
}

.choice {
  padding: 0.8em;
  border-bottom: 1px solid #ddd;
}

.choice label {
  padding-left: 0.3em;
}
